<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% block title %}
Posts
{% endblock title %}


{% block content %}
   <h1>Все посты</h1>

<hr>
    {% if posts %}
        <table width="100%" align="right">
        <style>
        table {
        margin: auto; /* Выравниваем таблицу по центру окна  */
        }
        td {
        text-align: center; /* Выравниваем текст по центру ячейки */
        }
        </style>
            <tr>
                <td width=200>
                    <b> Заголовок </b>
                </td>
                <td width=200>
                    <b> Дата публикации </b>
                </td>
                <td>
                    <b> Превью </b>
                </td>
                <td>
                    <b> Категория </b>
                </td>
            </tr>
            {% for post in posts %}
            <tr>
                <td>
                    <a href="{% url 'post_detail' post.id %}">{{ post.title|title }} </a>
                    <style>
                    a {
                    color: Grey; /* Цвет ссылок */,
                    padding: 2px; /* Поля вокруг текста ссылки */
                    text-decoration: none; /* Убираем подчёркивание */
                    }
                    a:hover {
                    color: Black; /* Новый цвет текста */
                    }
                    </style>
                     <!-- добавим ссылку на редактирование-->
                     <!-- добавим ссылку на удаление-->
                </td>
                <td>
                    {{ post.created_at|date:'M d Y' }}
                </td>
                <td>
                    {{post.text|truncatewords:20}}<!-- добавим ссылку на фильтр-->
                </td>
                <td>
                    {% for category in post.category.all %}
                            <a href="{% url 'category' category.pk %}"> {{ category }} </a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>


    {% endif %}

{% endblock content %}